* {
  margin: 0;
  padding: 0;
  background-color: rgb(188, 175, 201);
}

.name {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.study {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}

.study h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
}

.study h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.img {
  padding: 30px;
}

.img img {
  border-radius: 100px;
}

.about { 
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}

.about-me h3 {
  /* background-color: rgb(162, 146, 176); */
  width: 130px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 100px;
  border: 3px solid rgb(122, 86, 122);
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.info {
  display: flex;
  align-items: center;
}

.info div {
  padding: 9px;
}

.contact-me h3 {
  /* background-color: rgb(162, 146, 176); */
  width: 130px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 100px;
  border: 3px solid rgb(122, 86, 122);
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.follow {
  display: flex;
  justify-content: center;
  margin: 30px 212px 0 0;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media div {
  padding: 0 15px;
}

.follow-me h3 {
  /* background-color: rgb(162, 146, 176); */
  width: 130px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 100px;
  border: 3px solid rgb(122, 86, 122);
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.education {
  display: flex;
  justify-content: center;
  margin: 30px 0 0 140px;
}

.education1 {
  display: flex;
  /* background-color: rgb(162, 146, 176); */
  justify-content: space-between;
  align-items: center;
  width: 150px;
  text-align: center;
  padding: 15px;
  margin: 10px;
  border-radius: 100px;
  border: 3px solid rgb(122, 86, 122);
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.list {
  display: flex;
  align-items: center;
  margin-left: 50px;
  list-style-position: inside;
}

.list li { 
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 15px;
  font-size: 17px;
  
}

.skills1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  text-align: center;
  padding: 15px;
  margin: 10px;
  border-radius: 100px;
  border: 3px solid rgb(122, 86, 122);
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.skills {
  display: flex;
  justify-content: center;
  margin: 30px 30px 0 0;
}

.interests {
  display: flex;
  justify-content: center;
  margin: 30px 80px 0 0;
}

.int { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  text-align: center;
  padding: 15px;
  margin: 10px;
  border-radius: 100px;
  border: 3px solid rgb(122, 86, 122);
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.lis {
  display: flex;
  align-items: center;
}

.lis li {
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
}

.contact1 {
  display: flex;
  justify-content: center;
  margin: 30px 280px 0 0;
}

form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

form input,
textarea {
  border-radius: 10px;
  margin: 10px;
  border: 1px solid black;
}

form input {
  height: 20px;
}

.con h3 {
  width: 150px;
  text-align: center;
  padding: 15px;
  margin: 10px;
  border-radius: 100px;
  border: 3px solid rgb(122, 86, 122);
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.design {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

.button {
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(156, 132, 179);
  padding: 5px;
  width: 200px;
  font-weight: bold;
  
}


.iframe {
  display: flex;
  justify-content: center;
  margin: 30px 130px 0 0;
}

.location h3 {
  width: 150px;
  text-align: center;
  padding: 15px;
  margin: 10px;
  border-radius: 100px;
  border: 3px solid rgb(122, 86, 122);
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



iframe {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  margin: 30px;
}
